<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Pagamentos</h1>
</div>

<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th>Pagamento ID</th>
                  <th>Valor Total</th>
                  <th>Cliente ID</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pd of service.list">

                  <td (click)="populateForm(pd)">{{pd.pagamentoId}}</td>
                  <td (click)="populateForm(pd)">{{pd.valorTotal}}</td>
                  


                  <td>
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.pagamentoId)"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="clienteId" [value]="service.formData.pagamentoId" />


   <div class="form-row">
      <div class="form-group col-md-6">
          <label>Valor a Pagar </label>
          <input class="form-control form-control-lg" placeholder="Digite o Valor" name="valorTotal"
              #valorTotal="ngModel" [(ngModel)]="service.formData.valorTotal"
              required [class.invalid]=" valorTotal.invalid && valorTotal.touched">
      </div>
  </div>
  <!-- <div class="form-row">
    <div class="form-group col-md-6">
        <label>Cliente ID</label>
        <input class="form-control form-control-lg" placeholder="" name="clienteId"
            #clienteId="ngModel" [(ngModel)]="service.formData.clienteId"
            required [class.invalid]="clienteId.invalid && clienteId.touched">
    </div> -->
  <!-- </div> -->
  <div class="form-group col-md-6">
      <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
  </div>
</form>




